In [1]:
import pandas as pd
import numpy as np
# Sample data for Product Dimension
product_data = {
    'Product_ID': [1, 2, 3],
    'Product_Name': ['Laptop', 'Smartphone', 'Tablet'],
    'Category': ['Electronics', 'Electronics', 'Electronics'],
    'Brand': ['BrandA', 'BrandB', 'BrandC']
}
product_df = pd.DataFrame(product_data)
# Sample data for Time Dimension
time_data = {
    'Time_ID': [1, 2, 3],
    'Date': pd.date_range(start='2023-01-01', periods=3, freq='D'),
    'Month': ['January', 'January', 'January'],
    'Quarter': ['Q1', 'Q1', 'Q1'],
    'Year': [2023, 2023, 2023]
}
time_df = pd.DataFrame(time_data)
# Sample data for Store Dimension
store_data = {
    'Store_ID': [1, 2, 3],
    'Store_Name': ['StoreA', 'StoreB', 'StoreC'],
    'Location': ['CityX', 'CityY', 'CityZ'],
    'Region': ['North', 'South', 'West']
}
store_df = pd.DataFrame(store_data)
# Sample data for Sales Fact Table
sales_data = {
    'Sales_ID': [1, 2, 3],
    'Product_ID': [1, 2, 3],
    'Time_ID': [1, 2, 3],
    'Store_ID': [1, 2, 3],
    'Units_Sold': [10, 20, 30],
    'Revenue': [1000, 2000, 3000]
}
sales_df = pd.DataFrame(sales_data)
# Display the dataframes
print("Product Dimension:\n", product_df)
print("\nTime Dimension:\n", time_df)
print("\nStore Dimension:\n", store_df)
print("\nSales Fact Table:\n", sales_df)

Product Dimension:
    Product_ID Product_Name     Category   Brand
0           1       Laptop  Electronics  BrandA
1           2   Smartphone  Electronics  BrandB
2           3       Tablet  Electronics  BrandC

Time Dimension:
    Time_ID       Date    Month Quarter  Year
0        1 2023-01-01  January      Q1  2023
1        2 2023-01-02  January      Q1  2023
2        3 2023-01-03  January      Q1  2023

Store Dimension:
    Store_ID Store_Name Location Region
0         1     StoreA    CityX  North
1         2     StoreB    CityY  South
2         3     StoreC    CityZ   West

Sales Fact Table:
    Sales_ID  Product_ID  Time_ID  Store_ID  Units_Sold  Revenue
0         1           1        1         1          10     1000
1         2           2        2         2          20     2000
2         3           3        3         3          30     3000

In [2]:
# Roll-up on the Time Dimension from Date to Month
rollup_df = sales_df.merge(time_df,on='Time_ID').groupby(['Month', 'Year']).agg({'Units_Sold': 'sum', 'Revenue': 'sum'}).reset_index()
print("Roll-up Operation Result:\n", rollup_df)
print('\n')
# Slice the data to include only the sales in January 2023
slice_df = sales_df.merge(time_df, on='Time_ID').query("Month == 'January' and Year == 2023")
print("Slice Operation Result:\n", slice_df)
print('\n')
# Dice the data to include sales for specific products and stores in January 2023
dice_df = sales_df.merge(time_df, on='Time_ID').merge(product_df, on='Product_ID').merge(store_df, on='Store_ID').query(
    "Month == 'January' and Year == 2023 and Product_Name in ['Laptop', 'Smartphone'] and Store_Name in ['StoreA', 'StoreB']")
print("Dice Operation Result:\n", dice_df)

Roll-up Operation Result:
      Month  Year  Units_Sold  Revenue
0  January  2023          60     6000


Slice Operation Result:
    Sales_ID  Product_ID  Time_ID  Store_ID  Units_Sold  Revenue       Date  \
0         1           1        1         1          10     1000 2023-01-01
1         2           2        2         2          20     2000 2023-01-02
2         3           3        3         3          30     3000 2023-01-03

     Month Quarter  Year
0  January      Q1  2023
1  January      Q1  2023
2  January      Q1  2023


Dice Operation Result:
    Sales_ID  Product_ID  Time_ID  Store_ID  Units_Sold  Revenue       Date  \
0         1           1        1         1          10     1000 2023-01-01
1         2           2        2         2          20     2000 2023-01-02

     Month Quarter  Year Product_Name     Category   Brand Store_Name  \
0  January      Q1  2023       Laptop  Electronics  BrandA     StoreA
1  January      Q1  2023   Smartphone  Electronics  BrandB     StoreB

  Location Region
0    CityX  North
1    CityY  South

In [3]:
# Roll-down from Month level to Day level
rolldown_df = sales_df.merge(time_df, on='Time_ID').groupby(['Day', 'Month', 'Year']).agg({'Units_Sold': 'sum', 'Revenue': 'sum'}).reset_index()
print("Roll-down Operation Result:\n", rolldown_df)

Roll-down Operation Result:
    index  Units_Sold  Revenue
0    Day          10     1000
1  Month          20     2000
2   Year          30     3000